.Navbar-main{
    background-color: blue;
}

.Navbar-elements{
    background-color: #181c1f;
    padding-bottom: 30px;
}

.Navbar-elements li a{
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Helvetica;
    color: #8b939b;
    text-decoration: none;
}

.Nav-left {
    font-size: 18px;
    font-variant: small-caps;
    list-style: none;
    padding: 5px;
    float:left;

}

.Nav-right {
    font-size: 14px;
    font-weight: lighter;
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    float:right;
}

.Nav-right a:hover { 
    border-bottom: 2px solid #F117B4;
    text-decoration: none; 
}
